@model pro_web_a.Models.location

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.device.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locationdata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locationdata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeSpan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeSpan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
