@model IEnumerable<pro_web_a.Models.location>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.device.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Locationdata)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeSpan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.device.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locationdata)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeSpan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
